# Nintendo branded Wii U Gamecube controller to USB adapter.

# Make sure you have the "uinput" module loaded in your kernel and have a group
# named "uinput" on your system. I manually created one for mine. Also, make
# sure that your user is a member of said group "uinput."

# You might also need to make a group named "usb" with your user as a member.
# Or you could change the group names to ones that already exist.

# I'm not actually 100% sure which rule that I made was the one that ended up
# making my adapter work, although I am relatively certain it was the last one
# (which changes the group of /dev/uinput on my system).

SUBSYSTEM=="usb", ATTRS{idVendor}=="057e", ATTRS{idProduct}=="0337", MODE="0666", GROUP="usb"
KERNEL=="hidraw*", SUBSYSTEM=="hidraw", ATTRS{idVendor}=="057e", ATTRS{idProduct}=="0337", GROUP="uinput", MODE="0666"
KERNEL=="hiddev*", SUBSYSTEM=="hiddev", ATTRS{idVendor}=="057e", ATTRS{idProduct}=="0337", GROUP="uinput", MODE="0666"
KERNEL=="uinput", GROUP="uinput"
